<!DOCTYPE html>
<html lang="en">
<head>
  <title>   <%
    if(loginState){
  %>
      Login State :<%= userid%>
  <%
  } else {
  %>
    BlockChain page
    <%
    }  
    %></title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta content="text/html; charset=iso-8859-2" http-equiv="Content-Type">
  <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
  <script src="javascripts/my.js"></script>
  
  <style>
*{box-sizing:border-box;}
#side{background: gainsboro; width: 20%; height: 400px; text-align: left;}
#side2{background: rgb(161, 145, 145); height: 500px; text-align: left;}
#footer{background: darkgray;clear:both; height:10%; text-align:center;}
#content1{background: white; float:left; width: 30%; height:70%; font-Size: 10px; text-align: right;}
#content2{background: white; float:left; width: 40%; height:70%; font-size:20px; border: 1px grey solid;}
#content3{background: white; float:left; width: 15%; height:70% }
#container{height:1080px;}
li{list-style-position:inside;}


h3{
  background : white;
  text-shadow: 3px 3px 5px rgb(225, 226, 221);
  text-align: center;
}
  
  </style>

</head>
<body>
    <div id="container">
  <div align="center"><img src="./images/bg_image.jpg" width="100%" height="200px"></div>

<nav class="navbar navbar-expand-sm bg-dark navbar-dark">
  <ul class="navbar-nav">
      <li class="nav-item">
        <a class="nav-link" href="/">Main</a>
      </li>
      <li class="nav-item">
        <a class="navbar-brand" href="BlockChain">BlockChain</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Press center</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Publication</a>
	    </li>    
	    <li class="nav-item">
        <a class="nav-link" href="Enrollment">Enrollment</a>
      </li>   
    </ul>
</nav>


<section id="content1" font-Size: 8px;>
    <h3>국내사례</h3>
    <div class="slide">
        
        <div class="w3-content w3-section" style="max-width:500px">
          <img class="mySlides" src="images/ex1.jpg" style="width:500px; height: 400px">
          <img class="mySlides" src="images/ex2.jpg" style="width:500px; height: 400px">
          <img class="mySlides" src="images/ex3.jpg" style="width:500px; height: 400px">
          <img class="mySlides" src="images/ex4.jpg" style="width:500px; height:400px">
        </div>
        </div>
        <script>
        var myIndex = 0;
        carousel();
        
        function carousel() {
          var i;
          var x = document.getElementsByClassName("mySlides");
          for (i = 0; i < x.length; i++) {
            x[i].style.display = "none";  
          }
          myIndex++;
          if (myIndex > x.length) {myIndex = 1}    
          x[myIndex-1].style.display = "block";  
          setTimeout(carousel, 2000); // Change image every 2 seconds
        }
        </script>
     </section>
     <article id="content2">
        <h3>소식</h3>
        
        <a href="http://www.kiri.or.kr/pdf/%EC%A0%84%EB%AC%B8%EC%9E%90%EB%A3%8C/KIRI_20181214_18737.pdf" target="win2" > -보험 산업의 블록체인 활용</a><br/>
        <a href="http://www.thebchain.co.kr/news/articleView.html?idxno=4783" target="win2"> -블록체인 기반 간편보험청구 서비스 </a><br/>
        <a href="https://www.mk.co.kr/news/business/view/2019/06/432218/" target="win2"> -삼성SDS "블록체인이 실손보험 자동청구"</a><br/>
        <a href="https://kr.thenodist.com/articles/31920" target="win2"> -생명보험에 이더리움 블록체인 활용</a><br/>


     </article>
    
     <article id="content3">
        <img src='images/findtitle.jpg' style="width: 100%">
        <span onclick="window.open('/search_insur_temp','_blank','width=450,height=600,left=200,top=200')"><img src='images/icon1.jpg' style="width: 80%; height:130px; margin-left:30px"></span>
        <img src='images/icon2.jpg' style="width: 80%; height:130px; margin-left:30px">
        <img src='images/icon3.jpg' style="width: 80%; height:130px; margin-left:30px">
        <img src='images/icon4.jpg' style="width: 80%; height:130px; margin-left:30px">
    </article>
   
    
      <loginpage id="side">
          <img src='images/login.jpg' style="width: 10%; height:55px">
        <%
        if(loginState){
        %><br/>
            <%=userid%>님 로그인 되셨습니다.
            <button id='logout_btn' style='color:black'>Logout</button>
        <%
        }else{
        %>
        <fieldset id="login_result_div">
                <div class="subscribe-field">
                    <input id="login_userid" type="text" style="width:80%" />
                </div>
                <div align="right" style="width:80%" ><button id="login_btn" >Login</button></div>
          </fieldset>
        <%  		
        }
        %>
      </loginpage>

      <blank_page id="side2">
        <div align="center"><a href="#"><img src="./images/ars.jpg" width="195px"></a></div>
        <div align="center"><a href="#"><img src="./images/event1.jpg" width="195px"></a></div>
        <div align="center"><a href="#"><img src="./images/event2.jpg" width="10%" height="210px"></a></div>
      </blank_page>
      
      <footer id="footer">
        06620 서울특별시 서초구 서초대로74길 11 삼성생명보험주식회사 대표이사 현성철 |사업자등록번호 104-81-26688
        본 사이트내 이메일무단수집을 거부하며, 위반시 정보통신법에 따라 형사처벌될 수 있습니다.
        
        ⓒ SAMSUNG LIFE INSURANCE. ALL RIGHTS RESERVED<br>
        Copyrightⓒ 2000~2015 Korean Reinsurance Company. All Reserved
      </footer>

	</body>
</html>
