<!DOCTYPE html>
<html lang="en">
<head>
  <title>Main_page</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
  <script src="javascripts/my.js"></script>
  <style>
#contact-form {display :block}
/* #contact-form label {display:block;height:40px;overflow:hidden} */
#contact-form input {float:block;width:406px;font-size:13px;line-height:1.23em;color:#262626;padding:6px 10px;margin:0;font-family:Arial, Helvetica, sans-serif;border:1px solid #d9d9d9;background:#fcfcfc;outline:none}
#contact-form textarea {float:left;height:192px;overflow:auto;width:776px;font-size:13px;line-height:1.23em;color:#404040;padding:6px 10px;margin:0;font-family:Arial, Helvetica, sans-serif;border:1px solid #d9d9d9;background:#fcfcfc;outline:none}
*{box-sizing:border-box;}
#side{background: gainsboro; height: 65%; text-align: left;}
#footer{background: darkgray;clear:both; height:10%; text-align:center; font-size:10px;}
#content1{background: rgb(232, 232, 238); float:left; width: 100%; height:90%}
/* #content2{background: rgb(185, 185, 192); float:left; width: 100%; height:20%} */
#container{height:1080px;}
#content1{height:90%}
/* #content2{height:30%} */
li{list-style-position:inside;}
</style>
</head>
<body>
  <div id="container">
  
  <nav class="navbar navbar-expand-sm bg-dark navbar-dark">
      <ul class="navbar-nav">
          <li class="nav-item">
            <a class="navbar-brand" href="/">Main</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="BlockChain">BlockChain</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Press center</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Publication</a>
          </li>    
          <li class="nav-item">
            <a class="nav-link" href="Enrollment">Enrollment</a>
          </li>   
        </ul>
    </nav>
 <section id="content1">
    <div align="center"><img src="./images/BlockChain_main.jpg" width="100%" height="970px"></div>

 </section>

<footer id="footer">
    06620 서울특별시 서초구 서초대로74길 11 삼성생명보험주식회사 대표이사 현성철 |사업자등록번호 104-81-26688
    본 사이트내 이메일무단수집을 거부하며, 위반시 정보통신법에 따라 형사처벌될 수 있습니다.
    
    ⓒ SAMSUNG LIFE INSURANCE. ALL RIGHTS RESERVED<br>
    Copyrightⓒ 2000~2015 Korean Reinsurance Company. All Reserved
</footer>

  </body>
</html>

